{{/* This partial creates a inline SVG with the given context.
  vendor: the icons vendor, such as bootstrap, simple-icons, font-awesome-*. Required.
  name: the icon name. Required.
  className: the class name.
  color: the color of icon.
  width: the width of icon, default to 1em.
  height: the height of icon, default to 1em.
*/}}
{{- $vendor := .vendor }}
{{- with index site.Params.icons.vendors $vendor }}
  {{- $vendor = .name }}
{{- end }}
{{- $res := dict "vendor" $vendor "name" .name }}
{{- $icon := partialCached "icons/functions/svg-resource" $res $res -}}
{{- if not $icon -}}
  {{- warnf "[icons] %s's %s doesn't exist." $vendor .name -}}
{{- end -}}
{{- with $icon -}}
  {{- $attrs := partial "icons/functions/svg-attrs" . -}}
  {{/* Set the class name. */}}
  {{- with $.className -}}
    {{- $class := . -}}
    {{- with $attrs.Get "class" -}}
      {{- $class = printf "%s %s" . $class -}}
    {{- end -}}
    {{ $attrs.Set "class" $class -}}
  {{- end -}}
  {{/* Set the color. */}}
  {{- with $.color -}}
    {{- $style := printf "color: %s;" . -}}
    {{- with $attrs.Get "style" -}}
      {{- $style = printf "%s; %s" . $style -}}
    {{- end -}}
    {{ $attrs.Set "style" $style -}}
  {{- end -}}
  {{/* Override the height. */}}
  {{- with default "1em" $.height -}}
    {{ $attrs.Set "height" . -}}
  {{- end -}}
  {{/* Override the width. */}}
  {{- with default "1em" $.width -}}
    {{ $attrs.Set "width" . -}}
  {{- end -}}
  {{- $attrsHTML := partial "icons/functions/svg-attrs-to-html" $attrs -}}
  {{- $newSvg := printf "<svg %s>" $attrsHTML -}}
  {{- replaceRE `<svg([^>])+>` $newSvg $icon.Content 1 | safeHTML -}}
{{- end -}}
